
Allpax Sale Miner/allpax_sale_miner/.vs/allpax_sale_miner/v16/Server/sqlite3/storage.ide-shm
Allpax Sale Miner/allpax_sale_miner/.vs/allpax_sale_miner/v16/Server/sqlite3/storage.ide-shm
Allpax Sale Miner/allpax_sale_miner/.vs/allpax_sale_miner/v16/Server/sqlite3/storage.ide-wal
AnnorumSupra_18DEC/annorum_supra_18dec/
*.ide-shm
Allpax Sale Miner/Resources/Allpax-summer project/
Allpax Sale Miner/allpax_sale_miner/.vs/allpax_sale_miner/v16/Server/sqlite3/storage.ide-shm
Allpax Sale Miner/allpax_sale_miner/.vs/allpax_sale_miner/v16/Server/sqlite3/storage.ide-wal
