<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Advising Tool</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="justified-nav.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">Advising Tool-Admin View</h3>
                <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav text-md-center nav-justified w-100">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home-Dead<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="student_view.html">Student View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cgi-bin/advisor.cgi">Advisor View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login_view.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="newUser_view.html">New User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cgi-bin/assign.cgi">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="userSearch_view.html">AJAX Assignment</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <h2 class="align-middle text-center">Please fill the form below.</h2>
            </div>
            <!-- Jumbotron -->
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12">
                    <form role="form" action="./cgi-bin/assign.cgi" method="post">
                        <div class="form-group"> 
                            <div class="row border border-dark">
                                <div class="col-md-3 label_container mt-auto mb-auto border-dark border-0">
                                    <textarea class="form-control" rows="1" name="student" value="s1" readonly="readonly">s1</textarea>
                                </div>
                                <div class="col-md-auto label_container border-0 mt-auto mb-auto">
                                    <div class="btn-group mt-auto mb-auto pb-auto pt-auto" data-toggle="buttons"> 
                                        <label class="btn btn-secondary active"> 
                                            <input type="radio" name="advisor" value="a1" autocomplete="off"> Advisor 1       
                                        </label>                                         
                                        <label class="btn btn-secondary"> 
                                            <input type="radio" name="advisor" value="a2" autocomplete="off"> Advisor 2        
                                        </label>                                         
                                        <label class="btn btn-secondary"> 
                                            <input type="radio" name="advisor" value="a3" autocomplete="off"> Advisor 3        
                                        </label>
                                        <label class="btn btn-secondary"> 
                                            <input type="radio" name="advisor" value="a4" autocomplete="off"> Advisor 4        
                                        </label>                                         
                                    </div>
                                </div>
                                <div class="label_container border-0 col-md-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>                         
                        <hr/>
                    </form>
                </div>
            </div>
            <!-- Site footer -->
            <footer class="footer">
                <p>© Company 2017</p>
            </footer>
        </div>         
        <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>